<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Consultas</title>
</head>
<body>
    <h1>Consultas</h1>
    <a href="/consultas/nova">Nova Consulta</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Pet</th>
                <th>Médico</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="consulta : ${consultas}">
                <td th:text="${consulta.id}">ID</td>
                <td th:text="${consulta.pet.nome}">Nome do Pet</td>
                <td th:text="${consulta.medico.nome}">Nome do Médico</td>
                <td th:text="${consulta.data}">Data</td>
                <td>
                    <a th:href="@{'/consultas/remover/' + ${consulta.id}}">Remover</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
